html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #000;
  background-color: #fff;
}


img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

blockquote {
  margin: 0;
}

iframe {
  border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}


/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/
header,
section,
footer {
  padding: 25px 0;
}

.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

.title {
  font-weight: 900;
  font-size: 36px;
  margin-bottom: 30px;
}

.subtitle {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px;
}

.figure:not(:last-child) {
  margin-bottom: 30px;
}

.figure__img {
  margin: 0 auto;
}

.img {
  max-width: 1080px;
}

.figure__img_w_600 {
  max-width: 600px;
}

.text:not(:last-child) {
  margin-bottom: 30px;
}

.italic {
  font-style: italic;
}

.strong {
  font-weight: 700;
}

.nav,
.footer__block {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 25px 70px 25px 45px;
}