.previous__figure {
  display: inline-block;
  vertical-align: top;
}

.previous__figure:not(:last-child),
.indent:not(:last-child) {
  margin-right: 30px;
}

.previous__block:not(:last-child) {
  margin-bottom: 30px;
}

.previous__img {
  max-width: 560px;
  object-fit: cover;
}

.importantly,
.indent {
  max-width: 482px;
  display: inline-block;
}